body
{
    display: flex;
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
    font-family: sans-serif;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.inputs input[type="text"]
{
    height: 3rem;
    width: 15rem;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #c2c2c2;
    border-radius: 15px;
    margin-right:4px ;

}

.inputs input[type="submit"]
{
    height: 3rem;
    width: 6rem;
    background: #0a67ca;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
}

.button {
    position: relative;
    width: 200px;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 100%;
    padding-left: 150%;
    margin-left: -32px!important;
    margin-top: -30%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 15px;
}

.button:hover {opacity: 1}

.forecast-container {
    display: flex;
}

.forecast-day {
    flex: 1;
    margin: 10px;
    padding: 10px;

}

.forecast-day h2 {
    margin-top: 0;
    border: 2px solid rebeccapurple;
    border-radius: 20px;
    padding: 20px;
    text-align: center;

}


.forecast-hour div {
    margin-bottom: 5px;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

.average-card {
    border: 1px solid yellow;
    border-radius: 20px;
    padding: 15px;


}

.forecast-hour {
    border: 2px solid lightblue;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
    color: ghostwhite;

}

.h2-date {
    font-size: 15px;
}
