*, *::after, *::before{
    box-sizing: border-box;
}

body{

    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: sans-serif;
}

.header{
    display: flex;
    align-items: center;
    gap: 3rem;


}

.header-left{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.inputs input[type="text"]
{
    height: 3rem;
    width: 15rem;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #c2c2c2;
    border-radius: 2px;
    margin-right:4px ;
}

.inputs input[type="submit"]
{
    height: 3rem;
    width: 6rem;
    background: #0a67ca;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
}

.button {
    position: relative;
    width: 200px;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 100%;
    padding-left: 150%;
    margin-left: -32px!important;
    margin-top: -30%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.button:hover {opacity: 1}

.week{
    display: flex;
    border: 2px solid black;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}

.header-right{

}

.day-section{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    gap: .5rem;
    justify-content: center;
    padding: 1rem;
}

.weather{
    align-items: center;
    border: 1px solid ;
    border-radius: .25rem;
    padding: .25rem;


}



.weather-icon{
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: flex;
    float: left;
    margin: 0.5rem;
    padding: 0.5rem;
}

.hour{
    width: 100%;
    text-align: center;
    border-spacing: 0;
}

.hour-row{
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
}

.hour-row > td{
    padding: 0.25rem 0.5rem;
}

